<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- الصلاحيات: الكاميرا للمسح والاهتزاز للتغذية. صلاحية الإشعارات
         (POST_NOTIFICATIONS على أندرويد 13+) يدمجها Plugin
         flutter_local_notifications تلقائياً لتنبيهات حد الفصل.
         لا صلاحية INTERNET إطلاقاً: الأوفلاين ضمان تعاقدي. -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- إزالة صلاحيات الشبكة التي تضيفها مكتبة ML Kit (عبر mobile_scanner)
         إلى البيان المدمج: التطبيق أوفلاين بالكامل، ونموذج الباركود مُضمّن
         داخل الحزمة فلا يحتاج تنزيلاً. إبقاء الصلاحية يعني أن كل تحديث يطلب
         من وليّ الأمر/المدرسة صلاحية شبكة لا يستخدمها التطبيق. -->
    <uses-permission
        android:name="android.permission.INTERNET"
        tools:node="remove" />
    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE"
        tools:node="remove" />

    <!-- الكاميرا غير إلزامية: ينصب التطبيق على أجهزة الإدارة/التقارير بلا كاميرا. -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:label="حضور الطالب"
        android:name="${applicationName}"
        android:allowBackup="true"
        android:fullBackupOnly="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT" />
            <data android:mimeType="text/plain" />
        </intent>
    </queries>
</manifest>
